.home-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-evenly;

  padding-top: 50px;
  position: relative;

  .content-zone {
    width: 40%;
    min-width: 525px;
    max-height: 90%;
    background: rgba(165, 234, 228, 0.1);
    padding: 14px;
    border-radius: 14px;
  }

  .left-zone {
    margin: 0 2.5% 0 5%;
    order: 0;
  }

  .right-zone {
    margin: 0 0 0 2.5%;
    order: 1;
  }
}

@media only screen and (max-width: 1300px) {
  .home-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;

    padding-top: 50px;
    position: relative;

    .content-zone {
        width: 90%;
        min-width: 250px;
        margin: 2.5% auto;
        background: rgba(165, 234, 228, 0.1);
        padding: 14px;
        border-radius: 14px;
      }
    
      .left-zone {
        order: 0;
      }
    
      .right-zone {
        order: 1;
      }
  }
}
