.container {
    overflow: hidden;

    .zone-one {
        margin: 0 1rem;
        width: 95%;

        h1 {
            font-family: 'Coolvetica Compressed';
            text-align: center;
        }
    }
}