.instaItem-container {
  display: block;
  margin: 7px auto;
  background-color: #ededed;
  border-radius: 14px;
  overflow: hidden;
  white-space: wrap;

  .image {
    display: block;
    margin: 8px auto;
  }

  .caption {
    display: block;
    width: 85%;
    max-width: 600px;
    margin: 2px auto 8px auto;
  }
}

@media only screen and (max-width: 1300px) {
  .instaItem-container {

    .image {
      width: 95%;
      max-width: 1200px;
    }

    .caption {
      width: 95%;
      max-width: 1200px;
    }
  }
}
