html {
  font-size: 100%;
}

body {
  position: static;
  margin: 0;
  font: 300 13px/1.4 'Courier New', 'monospace';
  color: #bb9173;
  overflow-y: scroll;
  display: block;
  height: 100%;
  
}

.container {
  padding-left: 70px;
}